swagger: 2.0
openapi: 3.0.0

info:
  title: 'Serious Game Server API'
  description: 'This is the documentation of the Serious Game Server API. Find the repository [on github](https://github.com/robinlarondelle/serious-game-server)'
  version: 1.0.0

servers:
  - url: 'http://localhost:3000/'

tags:
- name: 'Organisation'
  description: 'Everything about Organisation'
- name: 'Department'
  description: 'Everything about Departments'

host: 'localhost:3000'
basePath: '/'

components:
  schemas:

    ApiError:
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer
          format: int32

    Answer:
      properties:
        answer:
          type: string
        stats:
          type: array
          items:
            type: object
            properties:
              stat:
                type: string
              score:
                type: integer
                format: int32
            required:
              - stat
              - score
      required:
        - answer
        - stats
    
    Question:
      properties:
        question:
          type: string
        answers:
          type: array
          items:
            $ref: '#/components/schemas/Answer'
      required:
        - question
        - answers

    Play:
      properties:
        # TODO
    
    department:
      properties:
        name:
          type: string
        plays:
          type: array
          items:
            $ref: '#/components/schemas/Play'
      required:
        - name

    Organisation:
      properties:
        name:
          type: string
        departments:
          type: array
          items:
            $ref: '#/components/schemas/department'
        questions:
          type: array
          items:
            $ref: '#/components/schemas/Question'
      required:
        - name

paths:
  /organisation:
    get:
      tags:
        - Organisation
      summary: Get all the organisations
      description: >
        This endpoint will get all the organisations in the dataset, Including their
        Departments, Questions and Players. Using this endpoint as an Organisation is not desired.
      produces: 
      - application/json
      responses:
        200:
          description: OK

    post:
      tags:
        - Organisation
      summary: 'Get all the organisations'
      tag: "Organisation"
      consumes:
      - 'application/json'
      produces:
      - 'application/json'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Organisation'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        400:
          description: Duplicate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'

  /organisation/{orgID}:
    get:
      tags:
        - Organisation
      summary: Get a specific Organisation
      parameters:
        - name: orgID
          in: paths
          description: Organisation ID (the Organisation PIN = Organisation ID)
          required: true
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: a Organisation object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'