swagger: 2.0
openapi: 3.0.0
info:
  title: 'Serious Game Server API'
  description: 'This is the documentation of the Serious Game Server API. Find the repository [on github](https://github.com/robinlarondelle/serious-game-server)'
  version: 1.0.0
servers:
  - url: 'http://localhost:3000/'
tags:
- name: 'Organisation'
  description: 'Everything about Organisation'
- name: 'Department'
  description: 'Everything about Departments'
host: 'localhost:3000'
basePath: '/'
paths:
  /organisation:
    post:
      summary: 'Get all the organisations'
      description: ''
      consumes:
      - 'application/json'
      produces:
      - 'application/json'
      parameters:
      - name: 'body'
        in: 'body'
        description: 'The Organisation object that needs to be added'
        required: true
        schema:
          type: 'object'
          properties:
            name:
              type: 'string'
              description: 'Name of the Organisation'
definitions:
  Department:
    type: 'object'
    properties:
      name:
        type: 'string'
        description: 'The Department name'
  Organisation:
    type: 'object'
    properties:
      departments:
        $ref: '#/definitions/Department'
  OrganisationBody:
    type: 'object'
    properties:
      name:
        type: 'string'