openapi: 3.0.0

info:
  title: 'Serious Game Server API'
  description: 'This is the documentation of the Serious Game Server API. Find the repository [on github](https://github.com/robinlarondelle/serious-game-server)'
  version: 1.0.0

servers:
  - url: 'http://localhost:3000/'

tags:
- name: 'Organisation'
  description: 'Everything about Organisation'
- name: 'Department'
  description: 'A Department is a subdivision of a Organisation'
- name: 'Play'
  description: 'A play is a single game a user plays, which is saved per Department'
- name: 'Question'
  description: All the questions that belong to an Organisation

components:
  schemas:
    $ref: ./schemas/index.yaml
  parameters:
    $ref: ./parameters/index.yaml
  responses:
    $ref: ./responses/index.yaml
    
paths:
  /organisation:
    $ref: ./endpoints/organisation/organisation.yaml

  /organisation/:orgID:
    $ref: ./endpoints/organisation/organisation.-orgID.yaml

  /organisation/:orgID/department:
    $ref: ./endpoints/department/organisation.-orgID.department.yaml

  /organisation/:orgID/department/:depID:
    $ref: ./endpoints/department/organisation.-orgID.department.-depID.yaml

  /organisation/:orgID/department/:depID/play:
    $ref: ./endpoints/play/organisation.-orgID.department.-depID.play.yaml

  /organisation/:orgID/department/:depID/play/:playID:
    $ref: ./endpoints/play/organisation.-orgID.department.-depID.play.-playID.yaml

  /organisation/:orgID/question:
    $ref: ./endpoints/question/organisation.-orgID.question.yaml

  /organisation/:orgID/question/:queID:
    $ref: ./endpoints/question/organisation.-orgID.question.-queID.yaml