openapi: 3.0.0

info:
  title: 'Serious Game Server API'
  description: 'This is the documentation of the Serious Game Server API. Find the repository [on github](https://github.com/robinlarondelle/serious-game-server)'
  version: 1.0.0

servers:
  - url: 'http://localhost:3000/'

tags:
- name: Game
  description: A game is a playable instance of a game session. It holds the questions of a game and the specified categories that belong to those questions
- name: Play
  description: A play is a recorded session of a player, which holds the answers to questions and builds up a user profile over time
- name: Category
  description: A category is a property of a player. Questions can increase or decrease the users performance in one of the categories


components:
  schemas:
    $ref: ./schemas/index.yaml
  parameters:
    $ref: ./parameters/index.yaml
  responses:
    $ref: ./responses/index.yaml
    
paths:
  # /game:
  #   $ref: ./endpoints/game/game.yaml

  # /game/:gameID:
  #   $ref: ./endpoints/game/game.-gameID.yaml

  /category:
    $ref: ./endpoints/category/category.yaml

  /category/:catID:
    $ref: ./endpoints/category/category.-catID.yaml
  
  # /plays:
  #   $ref: ./endpoints/plays/plays.yaml